body {
    font-family: 'Lobster', cursive;
    background-color: #ffdde1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0;
    background: url('images/backg.jpeg') repeat;
    font-size: 35px;
    color: rgb(255, 0, 174);
}

.hh {
    -webkit-text-stroke: 2px #71004f;
    font-weight: 900;
}

.pp {
    -webkit-text-stroke: 2px #71004f;
    font-size: 50px;
    font-style: oblique;
    font-weight: 800;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#door {
    cursor: pointer;
}

#prompt {
    text-align: center;
    margin-top: 20px;
}

.op {
    border-radius: 30px;
    font: 200px;
    color: #ff4d79;
    background-color: #0000;
}

#main-content {
    display: none;
}


.image {
    height: 280px;
}

.image2 {
    height: 280px;
}

.image3 {
    height: 280px;
}

.image4 {
    height: 280px;
}

.buttons button {
    background-color: #ff4d79;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 26px;
    cursor: pointer;
    position: relative;
    font-family: 'Lobster', cursive;
}

.buttons button:hover {
    background-color: #7c1f37;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#no-button {
}

.hidden-message {
    display: none;
    margin-top: 20px;
    color: #ffdde1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.move {
    animation: moveNoMessage 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

@keyframes moveNoMessage {
    0% { transform: translate(0, 0); }
    20% { transform: translate(15px, 15px); }
    40% { transform: translate(-10px, -10px); }
    60% { transform: translate(5px, 5px); }
    80% { transform: translate(-3px, -3px); }
    100% { transform: translate(0, 0); }
}
